//
//  TestsDevelopment.xcconfig
//  Leo
//
//  Created by Zachary Drossman on 3/8/16.
//  Copyright © 2016 Leo Health. All rights reserved.
//

#include "TestsInternal.xcconfig"
#include "Pods/Target Support Files/Pods-LeoTests/Pods-LeoTests.development.xcconfig"

BUNDLE_IDENTIFIER = com.leohealth.dev-consumer
BUNDLE_DISPLAY_NAME = Leo Dev
//PROVISIONING_PROFILE = 7d31869f-9f50-46ac-8642-132d485c4c03