//
//  Application.xcconfig
//  Leo
//
//  Created by Zachary Drossman on 8/18/15.
//  Copyright (c) 2015 Leo Health. All rights reserved.
//

SDKROOT = iphoneos
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
COPY_PHASE_STRIP = NO
IPHONEOS_DEPLOYMENT_TARGET = 8.3
ALWAYS_SEARCH_USER_PATHS = YES
FRAMEWORK_SEARCH_PATHS = $(SRCROOT)/Pods/**
USER_HEADER_SEARCH_PATHS = $(SRCROOT)/Leo/**
GCC_NO_COMMON_BLOCKS = YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(SRCROOT)/Leo-Prefix.pch
CLANG_CXX_LANGUAGE_STANDARD = gnu++0x
CLANG_CXX_LIBRARY = libc++
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR


//:configuration = Debug

//:configuration = Debug Stubs
GCC_PREPROCESSOR_DEFINITIONS = STUBS_FEATURE=$(STUBS_FEATURE)

//:configuration = Release
GCC_PREPROCESSOR_DEFINITIONS = STUBS_FEATURE=$(STUBS_FEATURE)

//:completeSettings = none

