//
//  Debug.xcconfig
//  Leo
//
//  Created by Zachary Drossman on 8/18/15.
//  Copyright (c) 2015 Leo Health. All rights reserved.
//

#include "Shared.xcconfig"
#include "Pods/Target Support Files/Pods-Leo/Pods-Leo.debug.xcconfig"


//Shared across all debug, so duplicated for the time being. May want to create a SharedDebug configuration file at some point
ONLY_ACTIVE_ARCH = YES
GCC_DYNAMIC_NO_PIC = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited) STUBS_FLAG=0 AUTOLOGIN_FLAG=0
MTL_ENABLE_DEBUG_INFO = YES

API_URL = localhost:3000 //leo-api.elasticbeanstalk.com //
API_VERSION = api/v1
S3_URL = elasticbeanstalk-us-east-1-435800161732.s3.amazonaws.com