//
//  Debug.xcconfig
//  Leo
//
//  Created by Zachary Drossman on 8/18/15.
//  Copyright (c) 2015 Leo Health. All rights reserved.
//

#include "DeveloperCodeSigning.xcconfig"
#include "Shared.xcconfig"
#include "Pods/Target Support Files/Pods-Leo/Pods-Leo.debug.xcconfig"


//Shared across all debug, so duplicated for the time being. May want to create a SharedDebug configuration file at some point
ONLY_ACTIVE_ARCH = YES
GCC_DYNAMIC_NO_PIC = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited) STUBS_FLAG=0 AUTOLOGIN_FLAG=0
MTL_ENABLE_DEBUG_INFO = YES

API_URL =   api-dev.leohealth.com
PROVIDER_URL = provider-dev.leohealth.com
API_VERSION = api/v1
API_PROTOCOL = https
CONTENT_URL = leo-content.s3-website-us-east-1.amazonaws.com
SELF_SIGNED_CERTIFICATE = *.leohealth.com
CRITTERCISM_APP_ID = 56b8fe2913306f1000698f56
PUSHER_KEY = 57ab52a00a037401d7d6
