//
//  Development.xcconfig
//  Leo
//
//  Created by Zachary Drossman on 8/18/15.
//  Copyright (c) 2015 Leo Health. All rights reserved.
//

#include "DeveloperCodeSigning.xcconfig"
#include "SharedInternal.xcconfig"
#include "Pods/Target Support Files/Pods-Leo/Pods-Leo.development.xcconfig"

API_URL =   api-dev.leohealth.com
PROVIDER_URL = provider-dev.leohealth.com
API_VERSION = api/v1
API_PROTOCOL = https
CONTENT_URL = leo-content.s3-website-us-east-1.amazonaws.com
SELF_SIGNED_CERTIFICATE = *.leohealth.com
CRITTERCISM_APP_ID = 56b8fe2913306f1000698f56
PUSHER_KEY = c08f07973cb05aeb388f
BUNDLE_IDENTIFIER = com.leohealth.dev-consumer
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) INTERNAL=1


BUNDLE_DISPLAY_NAME = Leo Dev
PROVISIONING_PROFILE = 6fd945c0-974b-4ba6-8cd4-f232b09d7c3f
