//
//  Release.xcconfig
//  Leo
//
//  Created by Zachary Drossman on 8/18/15.
//  Copyright (c) 2015 Leo Health. All rights reserved.
//

#include "Shared.xcconfig"
#include "Pods/Target Support Files/Pods-Leo/Pods-Leo.release.xcconfig"

VALIDATE_PRODUCT = YES
ENABLE_NS_ASSERTIONS = NO
MTL_ENABLE_DEBUG_INFO = NO

API_URL = leo-api.herokuapp.com
API_VERSION = api/v1