//
//  TestsRelease.xcconfig
//  Leo
//
//  Created by Zachary Drossman on 8/19/15.
//  Copyright (c) 2015 Leo Health. All rights reserved.
//

#include "TestsShared.xcconfig"
#include "Pods/Target Support Files/Pods-LeoTests/Pods-LeoTests.release.xcconfig"

VALIDATE_PRODUCT = YES
COPY_PHASE_STRIP = NO
ENABLE_NS_ASSERTIONS = NO
MTL_ENABLE_DEBUG_INFO = NO